$color-primary: #13304a;
$color-secondary: #076d59;
$color-tertiary: #37b971;
$color-quaternary: #e9ece7;
$color-content: #222;
$color-danger: #9f0000;
$color-white: #fff;
$color-black: #000;
$color-overlay: rgba(0, 0, 0, 0.5);

$image-border-radius: 16px;
